@import 'util/mixins';
@import 'util/util';
@import url('https://fonts.googleapis.com/css?family=Staatliches');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import 'motion-ui/motion-ui';
// rgb(0, 252, 126);
$top-bar-color: white;
$top-bar-link-color:black;
$main-font:'Staatliches', sans-serif;
$body-font: 'Oswald', sans-serif;
$general-button-color: white;
.search-tile{
  width: 100%;
  height: 100%;
  background:white;
  padding: 5rem;
}

$menu-background: #333;

.title-bar {
  padding: 0.9rem;
}

.button{
  letter-spacing: .2rem;
  margin-bottom: .2rem;
}
.top-bar {
  .menu-text{
    font-size: 24px;
  }
  letter-spacing: .2rem;
  ul {
  
    li {
    
        a {
          color: black;
          font-family: $main-font;
      }
    }
  }
}

.rung{
  width:100%;
  height:100%;
  background: white;
  color: black;
  overflow: hidden;
}

.image{
  overflow:hidden;
  height:300px;
  border: solid 1px white;
  img{
    object-position: center;
    object-fit:cover;
    min-height: 100%;
    min-width: 100%;
  }
  
}
.cocktails{
  background: rgba(0,0,0,0.7);
  padding: 2rem;
  h4, h3{
    font-family: $main-font;
    color: white;
    letter-spacing: .2rem;
  }
  .cocktail{
    background: rgba(0,0,0,0.7);
    padding: 2rem;
  }
}

.text-center{
  text-align: center;
}

.cocktail-show-tile{
  background: rgba(0,0,0,0.7);
  padding: 2rem;
  color: white;
  font-family: $body-font;
  p{
    padding: 1rem;
    margin:0;
  }
  label{
    color:white;
    font-size: 18px;
  }
  h1{
    font-family: $main-font;
    letter-spacing: .2rem;
  }
  input, select{
    background: rgba(255,255,255,0.5);
    color: black;
  }
}
.liquorPartTile, .otherIngredientTile{
  h4{
    font-family: $main-font;
    letter-spacing: .2rem;
  }
  .button{
    background: $general-button-color;
    font-family: $main-font;
    color: black;
    font-weight: 700;
    &:hover{
      background: rgb(204, 0, 255);
    }
  }
}
.devise-forms{
  color: white;
  font-family: $body-font;
  h2, h3{
    font-family: $main-font;
    letter-spacing: .2rem;
  }
  h4{
    letter-spacing: .2rem;
    font-family: $main-font;
    color: purple;
  }
  a{
    color:black;
    &:hover{
      color:white;
    }
  }
  input{
    background: rgba(255,255,255,0.5);
  }
  textarea{
    background: rgba(255,255,255,0.5); 
  }
  label{
    color: white;
    font-size: 24px;
  }
  .button{
    margin:0;
    background: $general-button-color;
    font-family: $main-font;
    color: black;
    font-weight: 700;
    &:hover{
      background: rgb(204, 0, 255);
    }
  }
  .delete{
    margin:0;
    background: rgb(168, 23, 23);
    font-family: $main-font;
    color: white;
    font-weight: 700;
    &:hover{
      background: rgb(255, 255, 255);
      color:black;
    }
  }
  .cancel{
    i{
      font-size: 32px;
    }
  }
  .cancel:hover .icon-unlock,
  .cancel .icon-lock {
    display: none;
  } 
  .cancel:hover .icon-lock {
    display: inline;
  }
}

.background-opaque{
  background: rgba(0,0,0,0.7);
  padding: 2rem;
}

.review-tile{
  background: rgba(0,0,0,0.7);
  padding: 1rem;
  h6{
    margin: 0;
  }
  .stars{
    color: #C8B13A;
  }
  .button{
    margin-bottom: 0;
    margin-right: 1rem;
    background: $general-button-color;
    font-family: $main-font;
    color: black;
    font-weight: 700;
    &:hover{
      background: rgb(204, 0, 255);
      color:white;
    }
  }
}
.form{
  padding-top: 3rem;
}

.new-review-tile{
  label{
    font-size: 24px;
  }
  textarea{
    min-height: 400px;
    background: rgba(255,255,255,0.5);
    color: black;
    &:focus{
          background: rgba(255,255,255,0.7);
    }
  }
  .button{
    margin:0;
    background: $general-button-color;
    font-family: $main-font;
    color: black;
    font-weight: 700;
    &:hover{
      background: rgb(204, 0, 255);
    }
  }
}
.search-bar{
  padding:3rem;
  background: rgba(0,0,0,0.7);
  font-family: $body-font;
  input{
    background: rgba(255,255,255,0.5);
    color: black;
  }
  label{
    font-size: 18px;
    color:white;
  }
  .button{
    margin:0;
    background: $general-button-color;
    font-family: $main-font;
    color: black;
    font-weight: 700;
    letter-spacing: .2rem;

    &:hover{
      background: rgb(204, 0, 255);
    }
  }
}

.delete-icon{
  &:hover{
    color:red;
  }
}

.map{
  .button{
    margin:0;
    background: $general-button-color;
    font-family: $main-font;
    color: black;
    font-weight: 700;
    &:hover{
      background: rgb(204, 0, 255);
    }
  }
}

.flash-bar{
  background:  rgba(0,0,0,0.7);
  color: white;
  font-family: $main-font;
  padding: 1rem;
}